@model List<TaskItem>
@{
    ViewData["Title"] = "Tasks";
}

<div class="text-center">
    <h1>Tasks</h1>
    <br />
</div>

<div>
    <table class="table table-bordered">
        <thead class="fw-bold">
            <tr>
                <td>Task Number</td>
                <td>Description</td>
                <td>Due Date</td>
                <td>Quadrant</td>
                <td>Category</td>
                <td>Completed?</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                    <tr>
                        <td>@x.TaskId</td>
                        <td>@x.TaskDescription</td>
                        <td>@x.DueDate</td>
                        <td>@x.Quadrant</td>
                        <td>
                            @if (x.Category != null)
                            { // As long as we have a Category object assigned we want to show it. If not, leave it blank
                                @x.Category.CategoryName
                            }
                        </td>
                        <td>@x.Completed</td>
                    </tr>

            }
        </tbody>


    </table>
</div>

